body{
    margin: 0px;
    padding: 0px;
    background-color: white;
    color: black;
}


.navbar{
    width:100%;
    height: auto;
    overflow: auto;
    display: flex;
    margin: 0px;
    padding: 0px;
    justify-content: space-around;
    background-color: rgb(23, 13, 88);
    font-family: cursive;
    border-radius: 0px 0px 20px 20px;
    box-shadow: 10px;
}


.navbar a{
        
        padding: 10px;
        border-radius: 10px;
        text-decoration: none;
        font-size: 20px;
        text-align: center;
        border-radius: 20px;
        color: white;
    
}

.navbar a:hover{
    background-color: white;
    color: rgb(23, 13, 88);
}
.intro{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.introText{
    
        font-size: xx-large;
}
.introText span{
    font-size: 70px;
    font-style: bold;
    margin: 5px 0px 5px 0px;
    color: rgb(23, 13, 88);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
@media screen and (max-width: 600px) {
    .introText span {
      font-size: 30px;
    }
    .introText{
        font-size: medium;
    }
    .profilePic{
        width: 20%;
    }
    .projects{
        display: none;
        float: none;
    }
  }

 .profilePic {
    
    width: 50%;
    
}

.projects{
    display: flex;
    position: relative;
    justify-content: space-between;
    background-color: rgb(23, 13, 88);
}
.project{
    margin: 10px;
    width: 200px;
    height: 200px;
    background-color: rgba(255,255,255,0.4);
    backdrop-filter: blur(1px);

}

