body{
    margin: 0px;
    padding: 0px;
    
}
*{
    box-sizing: border-box;
}

.navbar{
    width:100%;
    overflow: auto;
    display: flex;
    position:fixed;
    margin:auto;
    padding: 0px;
    justify-content: space-around;
    font-family: cursive;
    border-radius: 0px 0px 20px 20px;
}


.navbar a{
        
        padding: 10px;
        text-decoration: none;
        font-size: 20px;
        text-align: center;
        border-radius: 20px;
        color: white;
    
}

.navbar a:hover{
    background-color: white;
    color: rgb(23, 13, 88);
}
.intro{
    
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    
}
.introText{
        margin-left: 10px;
        font-size: xx-large;
}
.introText span{
    font-size: 70px;
    font-style: bold;
    margin: 5px 0px 5px 0px;
    color: rgb(23, 13, 88);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
@media screen and (max-width: 600px) {
    .introText span {
      font-size: 30px;
    }
    .introText{
        font-size: medium;
    }
    .profilePic{
        width: 20%;
    }
    

  }

 .profilePic {
    width: 50%;
}
.profilePic img{
    border-radius: 50%;
}
#projectHeading, #skillsHeading, #aboutHeading{
    display: block;
    width: 200px;
    font-size: x-large;
    height: fit-content;
    align-items: center;
    padding: 10px 10px 10px 50px;
    color: white;
    margin: 5px 0px 5px 0px;
    border-radius: 0px 10px 10px 0px;
    background-image: linear-gradient(to left,rgba(66, 42, 226, 0.884),rgb(23, 13, 88));

}

.projects{
    max-width:100%;
    height: fit-content;
    padding: 20px;
    justify-content: space-around;
}

#project1, #project2, #project3, #project4{
    
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    display:flex;
    width: 90%;
    margin: auto;
    height: 300px;
    justify-content: space-evenly;
    background-color: rgba(255,255,255,1);
    border-radius: 10px;
    
    
    
}
#project1:hover, #project2:hover, #project3:hover, #project4:hover {
    border: 2px solid rgba(66, 42, 226, 0.884) ;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
#project1, #project2, #project3{
    margin-bottom: 20px;
}

.projectDesc{
    font-size: xx-large;
    
    
}
.projectDesc span{
font-style: bold;
margin: 5px 0px 5px 0px;
color: rgb(23, 13, 88);
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.skills{
    height: fit-content;
    display: flex;
    max-width:100%;
    padding: 20px;
    justify-content: center;
    
}
#skill1, #skill2, #skill3{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width:250px;
    height: 250px;
    margin-left: 20px;
    border-radius: 10px;
}


