body{
    margin: 0px;
    padding: 0px;
    background-image: linear-gradient(to bottom,#FFC9AF,white);

    
}
*{
    box-sizing: border-box;
}

#navbar{

    width:100%;
    height: 8vh;
    overflow: hidden;
    z-index: 1;
    display: flex;
    position:fixed;
    margin:auto;
    
    padding: 10px;
    justify-content: space-around;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 0px 0px 20px 20px;
    background-color:#FFC9AF ;
    backdrop-filter: blur(5px);
}


#navbar a{
        padding: 10px;
        text-decoration: none;
        font-size: 25px;
        text-align: center;
        border-radius: 20px;
        color: rgb(23, 13, 88);
        font-style: bold;
    
}
.link a{
    float: right;
    padding: 8px;
    text-decoration: none;
    font-size: 20px;
    text-align: center;
    border-radius: 20px;
    color: white;
    background-color: black;
}


#navbar a:hover{
    background-color: rgb(23, 13, 88);
    color: white;
}
.intro{
    top:20px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    
}
.introText{
        margin-left: 40px;
        font-size: xx-large;
}
#name{
    font-size: 70px;
    font-style: bold;
    color: rgb(23, 13, 88);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-family: monospace;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0px auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 1.5s steps(30, end);
}

  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  


 .profilePic {
    width: 50%;
}
.profilePic img{
    margin-top: 50px;
}
#projectHeading, #skillsHeading, #aboutHeading{
    display: block;
    width: 300px;
    font-size: 32px;
    height: fit-content;
    align-items: center;
    align-self: center;
    padding: 10px 10px 10px 50px;
    color: white;
    margin: 5px 0px 5px 0px;
    border-radius: 0px 10px 10px 0px;
    background-image: linear-gradient(to left,rgba(66, 42, 226, 0.884),rgb(23, 13, 88));

}
#projectHeading:hover, #skillsHeading:hover, #aboutHeading:hover{
    width: 100%;
}
.projects{
    max-width:100%;
    height: fit-content;
    padding: 20px;
    justify-content: space-around;
}

#project1, #project2, #project3, #project4, .about{
    
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    display:flex;
    width: 90%;
    margin: auto;
    height: 300px;
    justify-content:space-evenly;
    background-color: rgba(255,255,255,0.2);
    z-index: -1;
    border-radius: 10px;
    align-items: center;
    
    
}
#project1:hover, #project2:hover, #project3:hover, #project4:hover , #skill1:hover, #skill2:hover, #skill3:hover{
    border: 2px solid rgba(66, 42, 226, 0.884) ;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
#project1, #project2, #project3{
    margin-bottom: 20px;
}

.projectDesc{
    font-size: xx-large;
    width: 50%;
    
}
.projectDesc span{
font-style: bold;
margin: 5px 0px 5px 0px;
color: rgb(23, 13, 88);
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.projectImg img:hover{
    transform: scale(1.5);
}

.skills{
    height: fit-content;
    display: flex;
    max-width:100%;
    padding: 20px;
    justify-content: center;
    
}
#skill1, #skill2, #skill3{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width:250px;
    height: 250px;
    margin-left: 20px;
    border-radius: 10px;
}

.aboutText{
    width: 70%;
    font-size: 25px;
    
    background-color: rgba(255,255,255,0.2);
    backdrop-filter: blur(5px);
}
.aboutPic img{
    border-radius: 50%;
    height: 200px;
    width: 200px;
    
}
#contact{
    width: 100%;
    height: 8vh;
    bottom: 0px;
    padding: 2px;
    display: flex;
    justify-content: space-around;
    background-image: linear-gradient(to left,rgba(66, 42, 226, 0.884),rgb(23, 13, 88));
    backdrop-filter: blur(5px);
    margin: 0px;
    align-items: center;
}
#contact a{
    padding: 5px;
    text-decoration: none;
    color: white;
    
}

#contact img{
    width: 48px;
    height: 48px;
}
#contact img:hover{
    transform: scale(1.5);
}

@media screen and (max-width: 600px) {
    .introText span {
      font-size: 30px;
    }
    .introText{
        font-size: medium;
    }
    .profilePic{
        width: 40%;
    }
    .aboutText{
         font-size: 32pxS;
    }
    
  }