<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../CSS/index.css">
    <title>
    Portfolio
</title>
</head>
<body>
    <div class="navbar">
        <a href="#Home">Home</a>  
        <a href="#Projects">Projects</a>
        <a href="#About">About</a>
        <a href="#Contact">Contact</a> 
    </div>

    <div class="intro">
       <div>
            SANDEEP GUPTA
       </div>

       <div class="profilePic">
            <img src="../photos/2021-01-02.jpg" width="300px">
        </div>

    </div>

</div>
<hr>
    
</body>
</html>
