<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../CSS/index.css">
    <title>
    Portfolio
</title>
</head>
<body>
    <div class="navbar">
        <a href="#Home">Home</a>  
        <a href="#Projects">Projects</a>
        <a href="#About">About</a>
        <a href="#Contact">Contact</a> 
    </div>

    <div class="intro">
       <div class="introText">
           Hi, i am<br>
           
            <span>SANDEEP GUPTA</span><br>
            AKGEC<b>|</b>2<sup>nd</sup>Year|CSIT
       </div>

       <div class="profilePic">
            <img src="../photos/PngItem_4905098.png" width="100%">
        </div>

    </div>
    <hr>
    <div class="projects" id="projects">
        <div class="project">Project1 </div>
        <div class="project">Project 2</div>
        <div class="project">Project 3</div>
        <div class="project">Project 4</div>
    </div>

    
</body>
</html>
